@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color:rgba(241,241,241)
}

main{
   margin: auto;
   max-width: 850px;
   
    
}
#presentation{
    display: flex;
    margin-top: 75px;
}

h1{
    font-size: 35px;
}
.myAvatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 4px 4px 14px;
}

.mainInfo{
    margin-left: 34px;
}

.mainInfo p{
    margin: 5px 0px;
}

.mainInfo h3{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

#links_skills{
    margin-top: 20px ;
    border-radius: 20px;
    background-color: bisque;
    padding: 20px;
    
}
h4{
    margin: 5px 0px;
}

#links_skills p{
    margin: 5px 0px;
}

#links_skills a{
    text-decoration: none;
    color:#000
}
#links_skills a:hover{
    color:blue
}

#experience{
    margin-top: 20px ;
    border-radius: 20px;
    background-color: rgb(215, 215, 255);
    padding: 20px;
}

table{
    width: 100%;
}

#education{
    margin-top: 20px ;
    border-radius: 20px;
    background-color: rgb(216, 255, 216);
    padding: 20px;
}

#aboutMe{
    margin-top: 20px ;
    border-radius: 20px;
    background-color: rgb(250, 250, 224);
    padding: 20px;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(166, 133, 166);
}

.navWrap{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu{
    margin-left: 35px;
}

.menu a{
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}
.menu a:hover{
    color:rgb(186, 186, 254)
}
.menu a:active{
    color:greenyellow
}

.but{
    margin-left: 10px;
    display: none;
}

.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
}

@media (max-width:700px){
    #presentation{
        display:block
    }

    main{
        margin-left: 40px;
    }

    .mainInfo{
        margin-left:5px
    }
    .myAvatar{
        margin-left: 5px;
    }

    .menu{
        display: none;
    }

    .but{
        display: block;
    }
    
    .popUp{
        position:fixed;
        top: 55px;
        left:-100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.4s;
        
    }
    .popUp.open{
        left:0;
        opacity: 75%;
        
    }
    .popUp .menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        
    }
    
    .popUp .menu a{
        margin-bottom: 25px;
        display:block
    }
    .popUp .menu a:hover{
        margin-bottom: 25px;
        background: #3f3f3f;
        color:#fff
    }
    body.noScroll{
        overflow: hidden;
    }
}